.map-container {
display: flex;
    align-items: center;
    gap: 1rem;

    position: fixed;
    top: var(--navbar-height);
    bottom: var(--bottom-nav-height);
    width: 100vw;

    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--main-content-body-background);

}
.mapReloadConainer {
    display: flex;
    height: 100vw;
    width: 100vw;

}

.custom-button {
    position: absolute;
    bottom: 3%;
    left: 3%;
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    /* Ensure the button is displayed above the map */

/* Map */
    .leaflet-container {
        height: 100%;
        width: 100%;
    }

    @media screen and (max-width: 991px) {
        .leaflet-container {
            height: 550px;
        }
    }

    /* Popup */
    .popup {
        color: #0e98e7;
        font-size: 18px;
        display: flex;
        justify-content: center;
    }

    .popup_img {
        height: '80px';
        width: '40px';
    }

    /* Button */
    .App_header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .App_header button {
        padding: 20px 30px;
        text-transform: uppercase;
        font-weight: bold;
    }

}